{
  "Parameters": {
    "AGENT_SESSION_TABLE_NAME": "AgentSession",
    "AWS_ENDPOINT_URL_DYNAMODB": "http://dynamodb:8000",
    "AWS_ACCESS_KEY_ID": "local",
    "AWS_SECRET_ACCESS_KEY": "local",
    "AWS_DEFAULT_REGION": "eu-central-1",
    "OPENAI_BASE_URL": "https://openrouter.ai/api",
    "OPENAI_API_KEY": "sk-replace-me"
  }
}
